
.container-fluid1{
    background-image: url('./Assets/Illustrations/Home/Bathome1.png');
    background-size: cover;
    height: 1000px;
}
.logo{
    padding: 30px;
    color: #fff;
}
ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
}
li{
    text-decoration: none;
    padding: 20px;
}
li a{
    text-decoration: none;
    color: #fff;
}
 ul li a :hover{
    color: #fff;
}
.text1{
    padding: 200px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
    position: relative;
    text-transform: uppercase;
}

.buttons{
    position: relative;
    top: 50px;

}
.first-btn{
    border: none;
    background-color: #c79c9ca2 ;
    color: #fff;
    margin: 20px;
    padding: 10px;

}
.first-btn:hover {
    transition: all 0.3s ease-in-out;
    background-color: #ededed;
}
.medias{
    list-style-type: none;
    position: absolute;
    right: 3.3%;
    top: 50%;
    transform: translate Y(-50%);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bulle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    cursor: pointer;
    position: relative;
}
.fleche1{
    display: flex;
    justify-content: center;
    padding: 50px;
}
.container-fluid2{
    padding: 100px;
    color: #fff;
    font-size: 20px;
    margin: 10px;
}
figcaption{
    display: inline;

}

.fig1{
    background-color:#c79c9ca2  ;
    border-radius: 10px;
    width: 93%;
    
}
.fig2{
    background-color:#c79c9ca2  ;
    border-radius: 10px;
    width: 93%
}
.fig3{
    background-color:#c79c9ca2  ;
    border-radius: 10px;
    width: 93%
}
h2{
    padding: 10px;
}
p{
    padding: 20px;
}
.container-fluid3{
    padding: 100px;
    color: #fff;
    font-size: 20px;
    margin: 10px;
}
.fig4{
    background-color:#c79c9ca2  ;
    border-radius: 10px;
    width: 93%
}
.fig5{
    background-color:#c79c9ca2  ;
    border-radius: 10px;
    width: 93%
}
.fig6{
    background-color:#c79c9ca2  ;
    border-radius: 10px;
    width: 93%
}
.logoplay{
    display: flex;
    justify-content: space-between;
}
h2{
    color: #fff;
    padding: 30px;
}
.play{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
}
.slider{
    height: 50vh;
    position: relative;
    display: flex;
    justify-content: center;
}
.slider img{
    padding: 20px;
    height: 100%;
    width: 40%;
    position: absolute;
    top: 0;
}
.text2{
    padding: 10px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
}
.propos{
    padding: 0px;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.im2{
    display: flex;
    justify-content: flex-end;
}
.and{
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.container-fluid4{
    background-color: #C4C4C4;
}

.input{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 200px;
}
.title{
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding: 50px;
    text-transform: bold;
}
